/* Add a background color to the header element */

/* Add a fun background color to the main element */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

/* Add a background color to the footer element */

header{
    background-color: yellow;
    text-align: center;
    color: purple;
    margin-bottom: -22px;
}

main{
    background-color: purple;
    color: yellow;
}

.profile-picture{
    display: flex;
}

footer{
    text-align: center;
    background-color: yellow;
    color: purple;
    font-style: italic;
    font-size: 18px;
    margin-top: -18px;
}

img{
    height: 300px;
    width: 200px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
}
